{{ define "main" }}

<!-- blog post -->
<section class="section-sm">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mb-5 mb-lg-0">
        <div class="row">
          {{ $paginator := .Paginate .Data.Pages }}
          {{ range $paginator.Pages }}
          {{ .Render "post" }}
          {{ end }}
        </div>
      </div>
      <!-- sidebar -->
      {{ partial "sidebar.html" . }}
      <!-- /sidebar -->

      <!-- pagination -->
      <div class="col-12 mt-5">
        {{ template "_internal/pagination.html" . }}
      </div>
    </div>
  </div>
</section>
<!-- /blog post -->
{{ with .Resources.GetMatch "**/*.jpg" }}
<section>
  <div class="container-fluid px-0">
    <div class="text-center">
      <h4 class="widget-title">Gallery</h4>
    </div>
    <div class="row no-gutters">
      {{ range . }}
      <div class="col-lg-2 col-md-3 col-sm-4 col-6">
        <a href="{{ .Permalink }}" class="venobox" data-gall="gallery"><img class="img-fluid w-100"
            src="{{ .Permalink }}" alt=""></a>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}

{{ end }}